@font-face {
  font-family: 'Axiforma Regular';
  src: url("fonts/AxiformaRegular.otf") format("opentype");
}
@font-face {
  font-family: 'Axiforma Bold';
  src: url("fonts/AxiformaBold.otf") format("opentype");
}
.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.lb {
  float: right;
  margin-right: 1em;
}
.lb:focus {
  outline: none !important;
  outline-offset: none !important;
  box-shadow: none !important;
}
.head {
  padding-top: 1em;
}
.title {
  margin-top: 3em;
  padding-bottom: 2em;
  font-family:'Axiforma Bold', Geneva, Verdana, sans-serif;
}
@media (max-width : 980px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .title {
    padding-bottom: 1em;
  }
}