@font-face {
  font-family: 'Axiforma Regular';
  src: url("fonts/AxiformaRegular.otf") format("opentype");
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');
.leaderTitle {
  font-family: 'Nunito', sans-serif;
  padding-bottom: 1em;
}
.searchBar {
  margin-bottom: 10px;
  outline: none;
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)!important;
  border-width: 1px;
}
.head3 {
  padding-bottom: 5em;
}
.border th,
td {
  border: 1px solid rgba(224, 224, 224, 1);
}
.border {
    width: 70%;
    margin-top: 20px;
  }
.lb2 {
    border: none;
    margin-right: 1em;
    margin-top: 1em;
    float: right;
  }
  .lb2:focus {
    outline: none !important;
    outline-offset: none !important;
    box-shadow: none !important;
  }
.card2 {
  text-align: center;
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  justify-content: center;
  background-color: white;
  width: 70%;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 0.5rem;
  border-width: 1px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)!important;
  margin-bottom: 10px;
}

@media (max-width : 980px) {
  .leaderTitle {
    padding-bottom: 0.25em;
  }
  .card2 {
    margin-top: 0em;
    padding-top: 25px;
    width: 100%;
    border-radius: 0;
    margin-bottom: 0px;
  }
  .border {
    margin-top: 10px;
    width: 96%;
  }
  .searchBar {
    width: 92%;
  }
}