@font-face {
    font-family: 'Axiforma Regular';
    src: url("fonts/AxiformaRegular.otf") format("opentype");
  }
  @font-face {
    font-family: 'Axiforma Bold';
    src: url("fonts/AxiformaBold.otf") format("opentype");
  }
  body {
    background-color: #F3F4F6;
  }
  .App {
    text-align: center;
    background-color: #F3F4F6;
  }
  a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: black;
  } 
  .container {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  .voteButton {
    border: none;
    height: 100%;
    background-color: #F3F4F6;
  }
  .lb {
    float: right;
    margin-right: 1em;
  }
  .lb:focus {
    outline: none !important;
    outline-offset: none !important;
    box-shadow: none !important;
  }
  .head {
    padding-top: 1em;
  }
  .title {
    margin-top: 3em;
    padding-bottom: 2em;
    font-family: 'Nunito';
    font-weight: 600;
  }
  @media (max-width : 980px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
    .title {
      padding-bottom: 1em;
      margin-right: 0.2em;
      margin-left: 0.2em;
      font-size: 25px;
    }
    .voteButton {
      width: 100%;
    }
  }